.container img {
    width: 200px;
    height: 150px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.App p {
    text-align: center;

    font: 1.1rem Montserrat Alternates;
}

.App button {
    width: 180px;
    height: 3.6rem;

    border-radius: 0.8rem;
    border: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;

    background: #0DB00A;
    cursor: pointer;

    font: Bold 1.1rem Montserrat Alternates;
    color: #FFF;

    outline: none;
}

#interactive video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    border-radius: 0.8rem;
    border: 0;
}

a.back-icon {
    width: 40px;
    height: 30px;

    position: absolute;

    top: 30px;
    /* left: 45px; */
    margin-left: 15px;
}